.ingresos {
  padding-top: 2em;
  padding-bottom: 3em; }
  .ingresos h3 {
    color: #f37221;
    text-transform: uppercase; }
  .ingresos .btn {
    margin-top: 1em;
    text-align: center;
    width: 100%;
    background-color: #87d324;
    border-radius: 0;
    border: none; }
  .ingresos .cajon {
    position: relative;
    background: #f37221;
    width: 70%;
    height: 500px;
    left: 15%;
    padding: 1em 25px 25px 25px; }
    .ingresos .cajon .ingresa {
      top: 30%;
      position: absolute;
      right: 12.5%;
      width: 30%;
      color: white; }
      .ingresos .cajon .ingresa .btn {
        color: white;
        padding: 1em 2em;
        font-size: 15px; }
    .ingresos .cajon .caja {
      position: absolute;
      width: 70%;
      top: 0;
      left: 0;
      background: #49b9e9;
      padding: 2em 4em 1em 4em; }
  .ingresos .floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid white; }
    .ingresos .floating-label-form-group input,
    .ingresos .floating-label-form-group textarea,
    .ingresos .floating-label-form-group select {
      z-index: 1;
      position: relative;
      padding-right: 0;
      padding-left: 0;
      border: none;
      border-radius: 0;
      font-size: 1.5em;
      background: none;
      box-shadow: none !important;
      resize: none;
      color: white; }
      .ingresos .floating-label-form-group input option,
      .ingresos .floating-label-form-group textarea option,
      .ingresos .floating-label-form-group select option {
        background: #49b9e9;
        color: white; }
    .ingresos .floating-label-form-group label {
      display: block;
      z-index: 0;
      position: relative;
      margin: 0;
      font-size: 0.85em;
      line-height: 1.764705882em;
      vertical-align: middle;
      vertical-align: baseline;
      -webkit-transition: top 0.3s ease,opacity 0.3s ease;
      transition: top 0.3s ease,opacity 0.3s ease;
      color: #f37221; }
  .ingresos .floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #a7a7a7; }
  .ingresos .floating-label-form-group-with-value label {
    top: 0;
    opacity: 1; }
  .ingresos .floating-label-form-group-with-focus label {
    color: #18BC9C; }

.ingresar .cajon .caja {
  top: 3em;
  left: 2em;
  width: 60%; }

.ingresar .control-group {
  padding-top: 2em; }

@media screen and (max-width: 1025px) {
  .ingresos .cajon {
    width: 80%;
    left: 12.5%; }
    .ingresos .cajon .ingresa {
      right: 5%;
      width: 40%;
      text-align: center; }
    .ingresos .cajon .caja {
      width: 50%; } }

@media screen and (max-width: 415px) {
  .ingresos .cajon {
    height: 800px; }
    .ingresos .cajon .ingresa {
      top: 550px;
      right: 5%;
      width: 90%;
      text-align: center; }
    .ingresos .cajon .caja {
      width: 100%;
      padding: 2em 2em; }
      .ingresos .cajon .caja h3 {
        text-align: center;
        font-size: 20px; }
  .ingresar .cajon {
    height: 700px; }
    .ingresar .cajon .caja {
      left: 0; }
    .ingresar .cajon .ingresa {
      top: 500px; } }
