<div class="container formulario">
  <h2 class="text-center">Bienvenido a Aprende Facil</h2>
  <h3 class="text-center">Iniciar Sesión</h3>

  </br>
  <form class="form-auth" ng-submit="sesion(usuario)">
    <div class="caja">
      <h4 class="text-center">Con tu Email</h4>
      <br>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></div>
          <input type="email" class="form-control" placeholder="Correo Electrónico" ng-model="usuario.email">
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
          <input type="password" class="form-control" placeholder="Contraseña" ng-model="usuario.password">
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
      </div>
      <br>
      <p class="text-center">¿Aún no tienes cuenta? <a href="#/registrar">Regístrate aquí</a></p>
    </div>

  </form>
  <p ng-if="firebaseUser">Signed in user: <strong>{{ firebaseUser.uid }}</strong></p>
  <p ng-if="error">Error: <strong>{{ error }}</strong></p>

</div>
<div ng-include="'vistas/footer.html'"></div>
