<section class="ingresos ingresar">
  <div class="row cajon">
    <div class="col-lg-8">
      <form name="sentMessage" id="contactForm" ng-submit="sesion(usuario)">
          <div class="caja">
            <h3 class="text-center">Ingresar</h3>

            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Correo Electronico</label>
                    <input type="email" class="form-control" placeholder="Email" ng-model="usuario.email" required>
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Contraseña</label>
                    <input type="password" class="form-control" placeholder="Contraseña" ng-model="usuario.password" required>
                </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <button type="submit" class="btn btn-success btn-lg">Ingresar</button>
                </div>
            </div>
          </div>
      </form>
    </div>
    <div class="ingresa">
      <h2>¿No tienes cuenta?</h2>
      <a href="registrar.html" class="btn">Registrate aqui</a>
    </div>
  </div>
  <p ng-if="firebaseUser">Signed in user: <strong>{{ firebaseUser.uid }}</strong></p>
  <p ng-if="error">Error: <strong>{{ error }}</strong></p>
</section>
<div ng-include="'vistas/footer.html'"></div>
