<div ng-controller="MainCtrl">
  <div class="active" ng-hide="sesionIniciada()">
    <header>
      <div class="jumbotron text-center">
        <div class="container">
          <h1>Aprende de una manera mas sencilla!</h1>
          <p>Quieres aprender tus materias de una perspectiva diferende y desde la comodidad de tu hogar.</p>
          <p class="text-uppercase botones">
            <a class="btn" href="#/registrar" role="button">Registrate</a> o
            <a class="btn" href="#/ingresar" role="button">Ingresa</a></p>
        </div>
      </div>
    </header>
    <section class="ventajas" id="ventajas">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Ventajas</h2>
          </div>
        </div><!-- Titulo de servicios -->
        <div class="row text-center servicios__items">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Estudio más rápido</h4>
            <p class="text-muted">
              Estudiar en Aprende Facil permite a los alumnos progresar hasta un 50 por ciento más rápido que si estudiaran por si solos.
               La razón principal es que el enfoque individualizado permite a los estudiantes pasar el material que ya conocen y entienden,
                y dedicar plenamente más tiempo y esfuerzo al contenido que si necesitan formación.
            </p>
          </div><!-- Item -->
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-home fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Estudiar en cualquier lugar y momento</h4>
            <p class="text-muted">
              La educación en línea hace posible que los alumnos puedan tener acceso al contenido de los cursos desde cualquier
              lugar y en cualquier momento. Este esquema de estudio beneficia enormemente a las personas que
              han tenido la dificultad de adaptarse a los esquemas de horarios fijos que requieren los cursos presenciales.
            </p>
          </div><!-- Item -->
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-stack-1x fa-inverse flaticon-medical"></i>
            </span>
            <h4 class="service-heading">Mayor Retención y Comprensión</h4>
            <p class="text-muted">
              Esto es debido a que la educación en línea permite combinar múltiples recursos y elementos didácticos
              tales como video, audio, foros, chat y exámenes, con el fin de reforzar el mensaje
              que se quiere transmitir a los estudiantes. También está la capacidad de revisar y volver a reproducir el
              contenido de los temas tantas veces como sea necesario hasta que el estudiante haya aprendido todo el contenido.
            </p>
          </div><!-- Item -->
        </div><!-- Item de servicios -->
      </div><!-- Contenedor -->
    </section><!-- Servicios -->
    <section class="informacion" id="informacion">
      <div class="sobre">&nbsp;</div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Información</h2>
          </div>
        </div>
        <div class="row">
          <h3>Nuestras clases son:</h3>
          <ul class="cbp_tmtimeline">
            <li>

                <i class="fa fa-phone"></i>
                <div class="cbp_tmlabel">
                    <p>Winter purslane...</p>
                </div>
            </li>
            <li>

                <div class="fa fa-globe"></div>
                <div class="cbp_tmlabel">
                    <p>Caulie dandelion maize...</p>
                </div>
            </li>
            <li>

                <div class="fa fa-space-shuttle"></div>
                <div class="cbp_tmlabel">
                    <p>Parsnip lotus root...</p>
                </div>
            </li>
            <li>

                <div class="fa fa-volume-up"></div>
                <div class="cbp_tmlabel">
                    <p>Peanut gourd nori...</p>
                </div>
            </li>
        </ul>
        </div>
    </section>
    <section class="contacto" id="contacto">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Contacto</h2>
              </div>
          </div>
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <form name="sentMessage" id="contactForm">
                  <div class="row control-group">
                      <div class="form-group col-xs-12 floating-label-form-group controls">
                          <label>Nombre</label>
                          <input type="text" class="form-control" placeholder="Nombre" id="name" required>
                      </div>
                  </div>
                  <div class="row control-group">
                      <div class="form-group col-xs-12 floating-label-form-group controls">
                          <label>Correo Electronico</label>
                          <input type="email" class="form-control" placeholder="Email" id="email" required>
                      </div>
                  </div>
                  <div class="row control-group">
                      <div class="form-group col-xs-12 floating-label-form-group controls">
                          <label>Mensaje</label>
                          <textarea rows="5" class="form-control" placeholder="Mensaje" id="message" required></textarea>
                      </div>
                  </div>
                  <br>
                  <div id="success"></div>
                  <div class="row">
                      <div class="form-group col-xs-12">
                          <button type="submit" class="btn btn-success btn-lg btn-block">Enviar</button>
                      </div>
                  </div>
              </form>
            </div>
          </div>
      </div>
    </section>
  </div>

  <div class="no-active" ng-show="sesionIniciada()">
    <header>
      <div class="row">
        <h1 class="text-center">Video de introducción</h1>
        <div class="iframe">
          <iframe width="100%" height="450"src="https://www.youtube.com/embed/r3ebOxltJ1w" allowfullscreen frameborder="0"></iframe>
      </div>
      </div>
    </header>
    <div class="clase">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 clase__item" ng-repeat="math in matematica">
            <div class="row__header fondo">
              <div class="imagen-fondo">
                <img src="/img/prueba.jpg" alt="prueba">
              </div>
              <div class="contenido">
                <h3>{{math.contenido.titulo}}</h3>
                <p class="materia">Matematica</p>
              </div>
              <a href="#/clase/{{math.contenido.titulosin}}" class="sobre-puesto">
                <h2>Ver clase</h2>
              </a>
            </div>
          </div><!-- 1 -->
          <div class="col-md-4 col-sm-6 clase__item" ng-repeat="fis in fisica">
            <div class="row__header fondo">
              <div class="imagen-fondo">
                <img src="/img/prueba.jpg" alt="prueba">
              </div>
              <div class="contenido">
                <h3>{{fis.contenido.titulo}}</h3>
                <p class="materia fisica">Fisica</p>
              </div>
              <a href="#/clase/{{fis.contenido.titulosin}}" class="sobre-puesto">
                <h2>Ver clase</h2>
              </a>
            </div>
          </div><!-- 2 -->
          <div class="col-md-4 col-sm-6 clase__item" ng-repeat="quimi in quimica">
            <div class="row__header fondo">
              <div class="imagen-fondo">
                <img src="/img/prueba.jpg" alt="prueba">
              </div>
              <div class="contenido">
                <h3>{{quimi.contenido.titulo}}</h3>
                <p class="materia quimica">Quimica</p>
              </div>
              <a href="#/clase/{{quimi.contenido.titulosin}}" class="sobre-puesto">
                <h2>Ver clase</h2>
              </a>
            </div>
          </div><!-- 3 -->
          <div class="col-md-4 col-sm-6 clase__item" ng-repeat="math in biologia">
            <div class="row__header fondo">
              <div class="imagen-fondo">
                <img src="/img/prueba.jpg" alt="prueba">
              </div>
              <div class="contenido">
                <h3>{{math.contenido.titulo}}</h3>
                <p class="materia biologia">Biologia</p>
              </div>
              <a href="#/clase/{{math.contenido.titulosin}}" class="sobre-puesto">
                <h2>Ver clase</h2>
              </a>
            </div>
          </div><!-- 1 -->
          <div class="col-md-4 col-sm-6 clase__item" ng-repeat="fis in castellano">
            <div class="row__header fondo">
              <div class="imagen-fondo">
                <img src="/img/prueba.jpg" alt="prueba">
              </div>
              <div class="contenido">
                <h3>{{fis.contenido.titulo}}</h3>
                <p class="materia castellano">Castellano</p>
              </div>
              <a href="#/clase/{{fis.contenido.titulosin}}" class="sobre-puesto">
                <h2>Ver clase</h2>
              </a>
            </div>
          </div><!-- 2 -->
          <div class="col-md-4 col-sm-6 clase__item" ng-repeat="fis in ingles">
            <div class="row__header fondo">
              <div class="imagen-fondo">
                <img src="/img/prueba.jpg" alt="prueba">
              </div>
              <div class="contenido">
                <h3>{{fis.contenido.titulo}}</h3>
                <p class="materia ingles">Ingles</p>
              </div>
              <a href="#/clase/{{fis.contenido.titulosin}}" class="sobre-puesto">
                <h2>Ver clase</h2>
              </a>
            </div>
          </div><!-- 3 -->
          <div class="col-md-4 col-sm-6 clase__item" ng-repeat="fis in tierra">
            <div class="row__header fondo">
              <div class="imagen-fondo">
                <img src="/img/prueba.jpg" alt="prueba">
              </div>
              <div class="contenido">
                <h3>{{fis.contenido.titulo}}</h3>
                <p class="materia tierra">Tierra</p>
              </div>
              <a href="#/clase/{{fis.contenido.titulosin}}" class="sobre-puesto">
                <h2>Ver clase</h2>
              </a>
            </div>
          </div><!-- 3 -->
        </div><!-- Row -->
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
<div ng-include="'vistas/footer.html'"></div>
<script src="/js/jquery.min.js"></script>
