<div class="clase">
  <div class="container">
    <h2>Publicar una clase</h2>
    <a href="#/publicar">Publicar</a>
    <div class="row">
      <h3>{{materia.materia}} de 1<sup>ero</sup></h3>
      <div class="col-md-4 col-sm-6 clase__item" ng-repeat="cp in classPrimero">
        <div class="row__header fondo">
          <div class="imagen-fondo">
            <img src="/img/prueba.jpg" alt="prueba">
          </div>
          <div class="contenido">
            <h3>{cp.contenido.titulo}</h3>
            <p class="materia">{{materia.materia}}</p>
          </div>
          <a href="#/clase/{{cp.contenido.titulosin}}" class="sobre-puesto">
            <h2>Ver clase</h2>
          </a>
        </div>
      </div><!-- 1 -->
      <h3>{{materia.materia}} de 2<sup>do</sup></h3>
      <div class="col-md-4 col-sm-6 clase__item" ng-repeat="cs in classSegundo">
        <div class="row__header fondo">
          <div class="imagen-fondo">
            <img src="/img/prueba.jpg" alt="prueba">
          </div>
          <div class="contenido">
            <h3>{{cs.contenido.titulo}}</h3>
            <p class="materia">{{materia.materia}}</p>
          </div>
          <a href="#/clase/{{cs.contenido.titulosin}}" class="sobre-puesto">
            <h2>Ver clase</h2>
          </a>
        </div>
      </div><!-- 2 -->
      <h3>{{materia.materia}} de 3<sup>ero</sup></h3>
      <div class="col-md-4 col-sm-6 clase__item"  ng-repeat="ct in classTercero">
        <div class="row__header fondo">
          <div class="imagen-fondo">
            <img src="/img/prueba.jpg" alt="prueba">
          </div>
          <div class="contenido">
            <h3>{{ct.contenido.titulo}}</h3>
            <p class="materia">{{materia.materia}}</p>
          </div>
          <a href="#/clase/{{ct.contenido.titulosin}}" class="sobre-puesto">
            <h2>Ver clase</h2>
          </a>
        </div>
      </div><!-- 3 -->
      <h3>{{materia.materia}} de 4<sup>to</sup></h3>
      <div class="col-md-4 col-sm-6 clase__item" ng-repeat="cc in classCuarto">
        <div class="row__header fondo">
          <div class="imagen-fondo">
            <img src="/img/prueba.jpg" alt="prueba">
          </div>
          <div class="contenido">
            <h3>{{cc.contenido.titulo}}</h3>
            <p class="materia">{{materia.materia}}</p>
          </div>
          <a href="#/clase/{{cc.contenido.titulosin}}" class="sobre-puesto">
            <h2>Ver clase</h2>
          </a>
        </div>
      </div><!-- 1 -->
      <h3 class="col-md-12">{{materia.materia}} de 5<sup>to</sup></h3>
      <div class="col-md-4 col-sm-6 clase__item" ng-repeat="cq in classQuinto">
        <div class="row__header fondo">
          <div class="imagen-fondo">
            <img src="/img/prueba.jpg" alt="prueba">
          </div>
          <div class="contenido">
            <h3>{{cq.contenido.titulo}}</h3>
            <p class="materia">{{materia.materia}}</p>
          </div>
          <a href="#/clase/{{cq.contenido.titulosin}}" class="sobre-puesto">
            <h2>Ver clase</h2>
          </a>
        </div>
      </div><!-- 2 -->
    </div><!-- Row -->
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
<div ng-include="'vistas/footer.html'"></div>
