<section class="ingresos">
  <div class="row cajon">
    <div class="col-lg-8">
      <form name="sentMessage" ng-submit="registro(usuario)">
          <div class="caja">
            <h3 class="text-center">Registrarme</h3>
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Nombre</label>
                    <input type="text" class="form-control" placeholder="Nombre" ng-model="usuario.nombre" required>
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Año</label>
                    <select name="" id="" class="form-control" ng-model="usuario.ano">
                      <option value="primero">1 año</option>
                      <option value="segundo">2 año</option>
                      <option value="tercero">3 año</option>
                      <option value="cuarto">4 año</option>
                      <option value="quinto">5 año</option>
                    </select>
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                  <label>Seccion</label>
                  <select name="" id="" class="form-control" ng-model="usuario.seccion">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                  </select>
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Correo Electronico</label>
                    <input type="email" class="form-control" placeholder="Email" ng-model="usuario.email" required>
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Contraseña</label>
                    <input type="password" class="form-control" placeholder="Contraseña" ng-model="usuario.password" required>
                </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <button type="submit" class="btn btn-success btn-lg">Enviar</button>
                </div>
            </div>
          </div>
      </form>
    </div>
    <div class="ingresa">
      <h2>¿Ya tienes cuenta?</h2>
      <a href="ingresar.html" class="btn">Ingresa aqui</a>
    </div>
  </div>
  <p ng-if="error">Error: <strong>{{ error }}</strong></p>
</section>
<div ng-include="'vistas/footer.html'"></div>
